langchain
langchain-community
langchain-text-splitters
pypdf
langchain-huggingface
sentence-transformers
typesense
langchain-groq
python-dotenv


# langchain-core>=0.2.0
# langchain-tavily>=0.1.2
# pydantic
# typesense>=0.15.0
# 
# openai>=1.0
# langchain-openai>=0.2.0 
